<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cursoandroid.practicasandroid">

    <!--
        Platform    Version	            API Level	    VERSION_CODE	        Notes
        Android     6.0 	            23 	            M 	API Changes
        Android     5.1 	            22 	            LOLLIPOP_MR1 	        Platform Highlights
        Android     5.0 	            21 	            LOLLIPOP
        Android     4.4W 	            20 	            KITKAT_WATCH 	        KitKat for Wearables Only
        Android     4.4 	            19 	            KITKAT 	Platform        Highlights
        Android     4.3 	            18 	            JELLY_BEAN_MR2 	        Platform Highlights
        Android     4.2, 4.2.2 	        17 	            JELLY_BEAN_MR1 	        Platform Highlights
        Android     4.1, 4.1.1 	        16 	            JELLY_BEAN 	            Platform Highlights
        Android     4.0.3, 4.0.4 	    15 	            ICE_CREAM_SANDWICH_MR1 	Platform Highlights
        Android     4.0, 4.0.1, 4.0.2 	14 	            ICE_CREAM_SANDWICH
        Android     3.2 	            13 	            HONEYCOMB_MR2
        Android     3.1.x 	            12 	            HONEYCOMB_MR1 	        Platform Highlights
        Android     3.0.x 	            11 	            HONEYCOMB 	            Platform Highlights
        Android     2.3.4
        Android     2.3.3 	            10 	            GINGERBREAD_MR1 	    Platform Highlights
        Android     2.3.2
        Android     2.3.1
        Android     2.3 	            9 	            GINGERBREAD
        Android     2.2.x 	            8 	            FROYO 	                Platform Highlights
        Android     2.1.x 	            7 	            ECLAIR_MR1 	            Platform Highlights
        Android     2.0.1 	            6 	            ECLAIR_0_1
        Android     2.0 	            5 	            ECLAIR
        Android     1.6 	            4 	            DONUT 	                Platform Highlights
        Android     1.5 	            3 	            CUPCAKE 	            Platform Highlights
        Android     1.1 	            2 	            BASE_1_1
        Android     1.0 	            1 	            BASE
    -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITY -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CicloDeVidaActivity" />
        <activity android:name=".PasoParametrosActivity">
            <intent-filter>
                <action android:name="cursoandroid.practicasandroid.PASODEPARAMETROS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListSimpleActivity" />
        <activity android:name=".EmpleoHilosActivity" />
        <activity android:name=".ASyncTaskBrowserActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".PreferenciasActivity" />
        <activity android:name=".ProbarRecursosParametrizadosActivity" />
        <activity android:name=".actividades.ProbarServicioActivity" />
        <activity android:name=".actividades.ProbarSincronizarActivity" />
        <activity android:name=".actividades.ProbarReceptoresActivity" />

        <!-- SERVICE -->
        <service android:name=".servicios.MonitorDeviceService" />
        <service
            android:name=".servicios.IntentSincronizacionService"
            android:exported="false" />

        <!--
        REGISTRO AUTOMÁTICO DEL BROADCAST
        En probarreceptoresactivity.java están los bradcast receiver registrado de forma manual.
        No son necesarios los 2 tipos, el primero se registra al entrar en la app y el segundo se
        registra al pulsar el botón activar
        -->


        <!-- BROADCAST RECEIVER -->
        <receiver android:name=".receptores.ProbarReceptores">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="cursoandroid.SINCRONIZACION_TERMINADA" />
            </intent-filter>
        </receiver>

        <service
            android:name=".servicios.MensajeriaServicioVinculadoRPC"
            android:enabled="false"
            android:exported="false" />

        <activity android:name=".actividades.ServicioMensajeriaVinculadoActivity"></activity>
    </application>

</manifest>
