<?xml version="1.0" encoding="utf-8"?>
<manifest package="cursoandroid.practicasandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Platform    Version	            API Level	    VERSION_CODE	        Notes
        Android     6.0 	            23 	            M 	API Changes
        Android     5.1 	            22 	            LOLLIPOP_MR1 	        Platform Highlights
        Android     5.0 	            21 	            LOLLIPOP
        Android     4.4W 	            20 	            KITKAT_WATCH 	        KitKat for Wearables Only
        Android     4.4 	            19 	            KITKAT 	Platform        Highlights
        Android     4.3 	            18 	            JELLY_BEAN_MR2 	        Platform Highlights
        Android     4.2, 4.2.2 	        17 	            JELLY_BEAN_MR1 	        Platform Highlights
        Android     4.1, 4.1.1 	        16 	            JELLY_BEAN 	            Platform Highlights
        Android     4.0.3, 4.0.4 	    15 	            ICE_CREAM_SANDWICH_MR1 	Platform Highlights
        Android     4.0, 4.0.1, 4.0.2 	14 	            ICE_CREAM_SANDWICH
        Android     3.2 	            13 	            HONEYCOMB_MR2
        Android     3.1.x 	            12 	            HONEYCOMB_MR1 	        Platform Highlights
        Android     3.0.x 	            11 	            HONEYCOMB 	            Platform Highlights
        Android     2.3.4
        Android     2.3.3 	            10 	            GINGERBREAD_MR1 	    Platform Highlights
        Android     2.3.2
        Android     2.3.1
        Android     2.3 	            9 	            GINGERBREAD
        Android     2.2.x 	            8 	            FROYO 	                Platform Highlights
        Android     2.1.x 	            7 	            ECLAIR_MR1 	            Platform Highlights
        Android     2.0.1 	            6 	            ECLAIR_0_1
        Android     2.0 	            5 	            ECLAIR
        Android     1.6 	            4 	            DONUT 	                Platform Highlights
        Android     1.5 	            3 	            CUPCAKE 	            Platform Highlights
        Android     1.1 	            2 	            BASE_1_1
        Android     1.0 	            1 	            BASE
    -->

    <!-- ALGUNOS PERMISOS A PARTE DE TENER QUE PONELO AQUÍ HAY QUE ACTIVARLO EN LA APP DIRECTAMENTE,
    ESTO A PARTIR DE LA VERSIÓN 6 DE ANDROID -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <!-- hay que ir a SETTINGS->APPS->APLICACIONES x->PERMISSION->DAR EL PERMISO DEL TELEFONO, a pesar de establecerlo en manifest -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- PARA PODER INSTALAR UN PROVEEDOR DE GPS TONTO EN EL DISPOSITIVO -->
    <!-- si nos devuelve error porque debe estar en el debug no hacemos caso -->
    <!-- uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/ -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITY -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".actividades.CicloDeVidaActivity"/>
        <activity android:name=".actividades.PasoParametrosActivity">
            <intent-filter>
                <action android:name="cursoandroid.practicasandroid.PASODEPARAMETROS"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".actividades.ListSimpleActivity"/>
        <activity android:name=".actividades.EmpleoHilosActivity"/>
        <activity android:name=".actividades.ASyncTaskBrowserActivity"/>
        <activity android:name=".actividades.DialogActivity"/>
        <activity android:name=".actividades.ProbarPreferencias"/>
        <activity android:name=".actividades.PreferenciasActivity"/>
        <activity android:name=".actividades.ProbarRecursosParametrizadosActivity"/>
        <activity android:name=".actividades.ProbarServicioActivity"/>
        <activity android:name=".actividades.ProbarSincronizarActivity"/>
        <activity android:name=".actividades.ProbarReceptoresActivity"/>
        <activity android:name=".actividades.ServicioMensajeriaVinculadoActivity"/>
        <activity android:name=".actividades.TareaAltaActivity"/>
        <activity android:name=".actividades.TareaConsultaActivity"/>
        <activity android:name=".actividades.PosicionamientoActivity"/>
        <activity android:name=".actividades.FakeGPSActivity"/>
        <activity android:name=".actividades.TelefoniaActivity"/>
        <activity android:name=".actividades.ConectividadActivity"/>
        <activity
            android:name=".actividades.FragmentosActivity"
            android:screenOrientation="landscape"/>

        <!-- SERVICE -->
        <service android:name=".servicios.MonitorDeviceService"/>
        <service
            android:name=".servicios.IntentSincronizacionService"
            android:exported="false"/>
        <!-- MensajeriaServicioVinculadoRPC quitar android:enabled="false" android:exported="false" -->
        <service android:name=".servicios.MensajeriaServicioVinculadoRPC"/>
        <!-- MensajeriaServicioMSG quitar android:enabled="false" android:exported="false" -->
        <service android:name=".servicios.MensajeriaServicioMSG"/>
        <!--
        REGISTRO AUTOMÁTICO DEL BROADCAST
        En probarreceptoresactivity.java están los bradcast receiver registrado de forma manual.
        No son necesarios los 2 tipos, el primero se registra al entrar en la app y el segundo se
        registra al pulsar el botón activar
        -->
        <service android:name=".servicios.FakeGPSService"/>

        <!-- BROADCAST RECEIVER -->
        <receiver android:name=".receptores.ProbarReceptores">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="cursoandroid.SINCRONIZACION_TERMINADA"/>
            </intent-filter>
        </receiver>

        <!-- PROVIDERS -->
        <provider
            android:name=".providers.TareasContentProvider"
            android:authorities="cursoandroid.practicasandroid"/>

        <activity android:name=".actividades.FakeGPSActivity">
        </activity>
        <activity
            android:name=".actividades.ContenidoWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_contenido_web"
            android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>
